@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /*border: solid blue;*/
    min-height: 100vh;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
}

.mainContainer{
    display: flex;
}

.contentContainer{
    display: flex;
    width: 310px;
    height: 500px; 
}

#mainImgContainer{
  
}
.mainImg{
    border-radius: 15px 0 0 15px;
    width: 100%;
}

#mainTextContainer{
    justify-content: center;
    align-items: center;
    align-content: center;
    /*border: solid 3px green;*/
    border-radius: 0 15px 15px 0;
    background-color: hsl(0, 0%, 100%);
}
.content{
    display: flex;
    gap: 35px;
    flex-direction: column;
    width: 250px;
    height: 450px; 
} 

.typeProductName{
    font-size: 12px;
    font-family: 'Montserrat';
    color: hsl(228, 12%, 48%);
    font-weight: 500;
    letter-spacing: 5px;
}

.prductName{
font-family: 'Fraunces';
font-size: 35px;
font-weight: 500;
line-height: 97%;

}

.productDescription{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
    line-height: 170%
}

.containerPrice{
    align-items: center;
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.newPrice{
 color: hsl(158, 36%, 37%);
 font-family: 'Fraunces';
 font-size: 40px;
 font-weight: 700;
}
.oldPrice{
    font-size: 16px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat';
}
.cartContainer{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 10px;
    background-color:hsl(158, 36%, 37%); 
    border-radius: 10px;
    height: 55px;
}
.cartImg{

}
.cartText{
    font-family:'Montserrat' ;
    font-size: 16px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

@media screen  and (max-width: 500px) {
    .mainContainer{
        flex-direction: column;
    }
    #mainImgContainer{
        height: 210px;
    }

    .mainImg{
        border-radius: 8px 8px 0 0;
    }
    
    #mainTextContainer{
        border-radius: 0 0px 8px 8px;
        height: 340px;
    }

    .content{
        display: flex;
        gap: 15px;
        flex-direction: column;
        width: 270px;
        height: 310px; 
    } 

    .typeProductName {
        font-size: 12px;
    }

    .prductName {
        font-size: 32px;
    }
        
    .productDescription{
        font-size: 12.8px;
    }

    .newPrice{
        font-size: 32px;
    }
    .oldPrice{
        font-size: 12px;
    }
    .cartContainer{
        height: 42px;
        border-radius: 7px;

    }
    .cartImg{
       
    }
    .cartText{
        font-size: 12px;
        
    }
    .mobileImg{
       object-position: 100% 100% ;

    }
}